<div class="calendar">
  @for (page of calendar; track $index) {
    <section class="page">
      <header class="header">
        <div class="mini-month">
          <h1 class="month-and-year mini">
            <span class="month">{{ getMonthName(page.previousMonth.month) }} </span>
            <span class="year">{{ page.previousMonth.year }}</span>
          </h1>

          <div class="mini-days-grid">
            @for (day of getMiniMonthDays(page.previousMonth.year, page.previousMonth.month); track $index) {
              <div [ngStyle]="$index === 0 ? { 'grid-column-start': getDayStartOffset(page.previousMonth.year, page.previousMonth.month) } : {}">
                {{ day }}
              </div>
            }
          </div>
        </div>

        <h1 class="month-and-year">
          <span class="month">{{ getMonthName(page.month) }} </span>
          <span class="year">{{ page.year }}</span>
        </h1>

        <div class="mini-month">
          <h1 class="month-and-year mini">
            <span class="month">{{ getMonthName(page.nextMonth.month) }} </span>
            <span class="year">{{ page.nextMonth.year }}</span>
          </h1>

          <div class="mini-days-grid">
            @for (day of getMiniMonthDays(page.nextMonth.year, page.nextMonth.month); track $index) {
              <div [ngStyle]="$index === 0 ? { 'grid-column-start': getDayStartOffset(page.nextMonth.year, page.nextMonth.month) } : {}">
                {{ day }}
              </div>
            }
          </div>
        </div>
      </header>

      <div class="week-days">
        <span> <!-- week number --> </span>
        <span>Lunes</span>
        <span>Martes</span>
        <span>Miércoles</span>
        <span>Jueves</span>
        <span>Viernes</span>
        <span>Sábado</span>
        <span>Domingo</span>
      </div>

      <div class="main-days-grid">
        @for (week of weeksForMonth(page.year, page.month); track $index) {
          <div class="week-number">{{ week.number }}</div>

          @for (day of week.days; track $index) {
            <div
              [ngClass]="{
                cell: true,
                'cell--weekend': day.isWeekend,
                'cell--other-month': day.isFromOtherMonth,
                'cell--sunday': day.isSunday,
                'cell--holiday': day.holidays?.length > 0,
              }"
            >
              <div class="box-top">
                <div class="column-left">
                  <div class="day-number">{{ day.number }}</div>

                  <div class="calendar-events">
                    @for (calendarEvent of day.calendarEvents; track $index) {
                      <div class="calendar-event">{{ calendarEvent.emoji }}</div>
                    }
                  </div>
                </div>

                <div class="holiday-events">
                  @for (holiday of day.holidays; track $index) {
                    <div class="holiday-name">{{ holiday.name }}</div>
                  }
                </div>
              </div>

              <div class="personal-events">
                @for (personalEvent of day.personalEvents; track $index) {
                  <div class="personal-event">{{ personalEvent.emoji }} {{ personalEvent.name }}</div>
                }
              </div>
            </div>
          }
        }
      </div>
    </section>
  }
</div>

<aside class="panel">
  <label class="select-year-control">
    <div>Selecciona el año</div>
    <select class="year-select" [formControl]="selectYearControl">
      @for (year of availableYears; track $index) {
        <option [value]="year">{{ year }}</option>
      }
    </select>
  </label>

  <jei-collapsible [isOpen]="true" class="collapsible">
    <div jeiCollapsibleToggleAction (click)="holidayListIsExpanded = !holidayListIsExpanded" class="list-name">
      <svg appChevronSvg [color]="'#3a3a3a'" [ngClass]="{ opened: holidayListIsExpanded }"></svg>
      <div>DÍAS FESTIVOS</div>
    </div>

    <div jeiCollapsibleContent>
      <button class="add-event-button" (click)="addNewHoliday()">Añadir festivo</button>
      @if (holidayEvents.length > 0) {
        <ul class="events-list">
          @for (item of holidayEvents; track $index) {
            <li class="event-list-item">
              <span class="date jei-no-break">{{ printShortDate(item.month, item.day) }}</span>
              <input type="text" placeholder="Introduce el día festivo" [value]="item.name" class="name holiday" (input)="saveHolidayEvents($event.target.value, item)" />
              <svg appPlusSvg [color]="'#d2322d'" (click)="removeHoliday(item)"></svg>
            </li>
          }
        </ul>
      } @else {
        <div class="no-elements-message">Todavia no hay elementos</div>
      }
    </div>
  </jei-collapsible>

  <jei-collapsible [isOpen]="true" class="collapsible">
    <div jeiCollapsibleToggleAction (click)="personalListIsExpanded = !personalListIsExpanded" class="list-name">
      <svg appChevronSvg [ngClass]="{ opened: personalListIsExpanded }"></svg>
      <div>EVENTOS PERSONALES</div>
    </div>

    <div jeiCollapsibleContent>
      <button class="add-event-button">Añadir evento</button>
      @if (personalEvents.length > 0) {
        <ul class="events-list">
          @for (item of personalEvents; track $index) {
            <li class="event-list-item">
              <span class="date jei-no-break">{{ printShortDate(item.month, item.day) }}</span>
              <input type="text" class="name" />
              <svg appPlusSvg [color]="'#d2322d'"></svg>
            </li>
          }
        </ul>
      } @else {
        <div class="no-elements-message">Todavia no hay elementos</div>
      }
    </div>
  </jei-collapsible>

  <jei-collapsible [isOpen]="true" class="collapsible">
    <div jeiCollapsibleToggleAction (click)="calendarListIsExpanded = !calendarListIsExpanded" class="list-name">
      <svg appChevronSvg [ngClass]="{ opened: calendarListIsExpanded }"></svg>
      <div>EVENTOS DE CALENDARIO</div>
    </div>

    <div jeiCollapsibleContent>
      <button class="add-event-button">Añadir evento</button>
      @if (calendarEvents.length > 0) {
        <ul class="events-list">
          @for (item of calendarEvents; track $index) {
            <li class="event-list-item">
              <span class="date jei-no-break">{{ printShortDate(item.month, item.day) }}</span>
              <input type="text" class="name" />
              <svg appPlusSvg [color]="'#d2322d'"></svg>
            </li>
          }
        </ul>
      } @else {
        <div class="no-elements-message">Todavia no hay elementos</div>
      }
    </div>
  </jei-collapsible>
</aside>
