<div class="calendar">
  @for (page of calendar; track $index) {
    <section class="page">
      <header class="header">
        <div class="mini-month">
          <h1 class="month-and-year mini">
            <span class="month">{{ page.previousMonth.monthName }} </span>
            <span class="year">{{ page.previousMonth.year }}</span>
          </h1>

          <div class="mini-days-grid">
            @for (day of getMiniMonthDays(page.previousMonth.monthName, page.previousMonth.year); track $index) {
              <div [ngStyle]="$index === 0 ? { 'grid-column-start': getDayStartOffset(page.previousMonth.monthName, page.previousMonth.year) } : {}">
                {{ day }}
              </div>
            }
          </div>
        </div>

        <h1 class="month-and-year">
          <span class="month">{{ page.monthName }} </span>
          <span class="year">{{ page.year }}</span>
        </h1>

        <div class="mini-month">
          <h1 class="month-and-year mini">
            <span class="month">{{ page.nextMonth.monthName }} </span>
            <span class="year">{{ page.nextMonth.year }}</span>
          </h1>

          <div class="mini-days-grid">
            @for (day of getMiniMonthDays(page.nextMonth.monthName, page.nextMonth.year); track $index) {
              <div [ngStyle]="$index === 0 ? { 'grid-column-start': getDayStartOffset(page.nextMonth.monthName, page.nextMonth.year) } : {}">
                {{ day }}
              </div>
            }
          </div>
        </div>
      </header>

      <div class="week-days">
        <span> <!-- week number --> </span>
        <span>Lunes</span>
        <span>Martes</span>
        <span>Miércoles</span>
        <span>Jueves</span>
        <span>Viernes</span>
        <span>Sábado</span>
        <span>Domingo</span>
      </div>

      <div class="main-days-grid">
        @for (week of weeksForMonth(page.monthName, page.year); track $index) {
          <div class="week-number">{{ week.number }}</div>

          @for (day of week.days; track $index) {
            <div
              [ngClass]="{
                cell: true,
                'cell--weekend': day.isWeekend,
                'cell--other-month': day.isFromOtherMonth,
                'cell--sunday': day.isSunday,
                'cell--holiday': day.isHoliday,
              }"
            >
              <div class="number">{{ day.number }}</div>
              <!-- TODO events -->
            </div>
          }
        }
      </div>
    </section>
  }
</div>

<aside class="panel"></aside>
