:root {
  --color-gray-light: #c9c9c9;
  --color-gray-dark: #8a8a8a;
  --color-red: #d2322d;
  --color-black: #3a3a3a;
  --color-yellow-dark: #a67c00;

  --color-bg-red: #f5dedb;
  --color-bg-gray-light: #fafafa;
  --color-bg-gray-dark: #ededed;
  --color-bg-yellow: #fdf0c2;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-gray-dark);
  font-family: "Helvetica Neue", Arial, "Segoe UI", sans-serif;
  scroll-padding-top: 90px;
}

* {
  box-sizing: border-box;
}
